<div class="wow fadeIn a1 animated" data-wow-delay="0.1s">
    <section>
        <section-icon>
            <i class="fa fa-graduation-cap"></i>
        </section-icon>
        <section-title>
            Education
        </section-title>
        <section-content>
            <item data-animation="a2"
                  data-wow-delay="0.2s">
                <item-title>Engineering Licence <span>@Università degli studi di Palermo</span></item-title>
                <item-subtitle>OCT 2013 - APR 2014</item-subtitle>
                <item-content>Passed Wrtitten and oral test to obtain the membership in engenieers register
                </item-content>
            </item>
            <collapsible-item
                              data-wow-delay="0.3s"
                              data-animation="a3">
                <collapsible-item-title>
                    Computer Engineering <span>@Università degli studi di Palermo</span>
                </collapsible-item-title>
                <collapsible-item-subtitle>
                    SEP 2007 - OCT 2013
                </collapsible-item-subtitle>
                <collapsible-item-header>
                    <b>Thesis title: Semantic Video Content Retrieval</b>
                </collapsible-item-header>
                <collapsible-item-content>

                    <h5>Some university subject:</h5>
                    <div class="col s6 l6 m6">
                        <ul class="disc-list">
                            <li>Mathematics</li>
                            <li>Physics</li>
                            <li>Java programming</li>
                            <li>Data Structure and Algorithms</li>
                            <li>Computer Networking</li>
                            <li>Computer Architectures</li>
                        </ul>
                    </div>
                    <div class="col s6 l6 m6">
                        <ul class="disc-list">
                            <li>Numeric Analysis</li>
                            <li>Logical Networks</li>
                            <li>Operative Systems</li>
                            <li>Relational databases</li>
                            <li>Signal theory</li>
                            <li>Operative Systems</li>
                        </ul>
                    </div>

                    <div class="external-logo">
                        <img src="site/images/unipa-logo.png">
                    </div>

                </collapsible-item-content>
            </collapsible-item>
            <item data-animation="a4"
                  data-wow-delay="0.4s">
                <item-title>Engineering Licence <span>@ ITC GANGI</span></item-title>
                <item-subtitle>OCT 2013 - APR 2014</item-subtitle>
                <item-content>Passed Wrtitten and oral test to obtain the membership in engenieers register
                </item-content>
            </item>
        </section-content>
    </section>
</div>