<div  class="wow fadeIn a1 animated" data-wow-delay="0.1s">
    <section>
        <section-title>
              Goal
        </section-title>
        <section-icon>
            <i class="fa fa-bullseye"></i>
        </section-icon>
        <section-content>
            <div class="wow fadeIn a2 animated" data-wow-delay="0.2s">
                <item class=" wow fadeIn a2 animated"
                      data-wow-delay="0.2s">
                    <item-content>
                        I'm seeking a new professional opportunity as software developer, to use my technical and organizational skills as well as my ability to work with people. I would like to work in a stimulating environment to challenge and improve my skills. I am quick learner and I love to study new topics.
                    </item-content>
                </item>
            </div>
        </section-content>
    </section>
</div>
