<div class="wow fadeIn a1 animated" data-wow-delay="0.1s">
    <section>
        <section-title>Interestes</section-title>
        <section-icon><i class="fa fa-plane"></i></section-icon>
        <section-content>
            <item data-animation="a2" data-wow-delay="0.2s">
                <item-content>
                    <div class="interests">
                        <ul>
                            <li><i class="fa fa-soccer-ball-o tooltipped" data-position="top" data-delay="50" data-tooltip="Football"></i></li>
                            <li><i class="fa fa-music tooltipped" data-position="top" data-delay="50" data-tooltip="Music"></i></li>
                            <li><i class="fa fa-glass tooltipped" data-position="top" data-delay="50" data-tooltip="Drink"></i></li>
                            <li><i class="fa fa-code tooltipped" data-position="top" data-delay="50" data-tooltip="Coding"></i></li>
                            <li><i class="fa fa-book tooltipped" data-position="top" data-delay="50" data-tooltip="Coffee"></i></li>
                        </ul>
                    </div>
                </item-content>
            </item>

        </section-content>
    </section>
</div>