<div class="row">
    <!-- ========================================
         Goal
        ==========================================-->
    <ng-include src="'site/views/resume/goal.html'"></ng-include>

    <!-- ========================================
      Work experience
     ==========================================-->
    <ng-include src="'site/views/resume/work-experience.html'"></ng-include>

    <!-- ========================================
     Education
    ==========================================-->
    <ng-include src="'site/views/resume/education.html'"></ng-include>

    <!-- ========================================
          Intertests
    ==========================================-->
    <ng-include src="'site/views/resume/interest.html'"></ng-include>

    <!-- =======================================
      portfolio Website
    ==========================================-->
    <ng-include src="'site/views/resume/portfolio.html'"></ng-include>
</div><!-- end row -->