<div class="wow fadeIn a1 animated" data-wow-delay="0.1s">
  <section>
    <section-icon>
      <i class="fa fa-suitcase"></i>
    </section-icon>
    <section-title>
      Work Experience
    </section-title>
    <section-content>
      <collapsible-item data-wow-delay="0.2s" data-animation="a2">
        <collapsible-item-title>
          Software Analyst <span>@YNAP</span>
        </collapsible-item-title>
        <collapsible-item-subtitle>
          JAN 2019 - TODAY
        </collapsible-item-subtitle>
        <collapsible-item-header>
          Analysis, design and development of microservices and web applications
          for fashion/luxury ecommerce.<br />
        </collapsible-item-header>
        <collapsible-item-content>
          <ul class="disc-list">
            <li>
              Development, bug fixing and performance improvement of large scale
              web application.
            </li>
            <li>
              Design and development of automation tools for business processes
              and tasks.
            </li>
            <li>
              Software lifecycle maintenance.
            </li>
            <li>
              Buisiness requirements analysis and effort extimation.
            </li>
            <li>
              AGILE Scrum Team Member.
            </li>
          </ul>

          <div class="external-logo">
            <img src="site/images/ynap-logo.png" style="height: 2.5rem" />
          </div>
        </collapsible-item-content>
      </collapsible-item>
      <collapsible-item data-wow-delay="0.2s" data-animation="a2">
        <collapsible-item-title>
          Software Analyst <span>@Noemalife</span>
        </collapsible-item-title>
        <collapsible-item-subtitle>
          SEP 2015 - JAN 2019
        </collapsible-item-subtitle>
        <collapsible-item-header>
          Analysis, design and development of healthcare software solutions.<br />
          I work in web and native mobile applications designed for different
          user categories, for instance doctors and nurses. Those applications
          are hosted on different devices: mobile browser,iPad and Windows
          mobile platform.
        </collapsible-item-header>
        <collapsible-item-content>
          <ul class="disc-list">
            <li>
              Development of reusable and configurable web components for
              in-house frontend framework.
            </li>
            <li>
              Design and documentation of RESTfull APIs with .NET Web Api
              Framework using NUnit.
            </li>
            <li>
              Development and bug fixing of .NET Backends and Windows Store
              application with C# language.
            </li>
            <li>
              Development and bug fixing of iOS application with Objective-c
              language.
            </li>
            <li>
              Development front end web applications using AngularJS, Grunt.js,
              LESS, Sass, and other front end libraries and frameworks like
              RequireJs.
            </li>
            <li>
              Unit testing of front end web applications using Karma and
              Jasmine.
            </li>
            <li>
              Development and management of customer’s product customizations by
              configuration.
            </li>
            <li>
              Configuration, deploy and management of JMS queues
            </li>
            <li>
              Java backend bug fixing and development. (J2EE)
            </li>
            <li>
              AGILE Scrum metodologies and usage of kanban board for user
              stories tracking.
            </li>
            <li>
              Git and SVN version control system.
            </li>
            <li>
              Writing documentations for products installation and customization
              for consultants.
            </li>
          </ul>

          <div class="external-logo">
            <img src="site/images/noema-logo.jpg" />
          </div>
        </collapsible-item-content>
      </collapsible-item>
      <collapsible-item data-wow-delay="0.3s" data-animation="a3">
        <collapsible-item-title>
          Software Consultant <span>@Sysdata Italia</span>
        </collapsible-item-title>
        <collapsible-item-subtitle>
          MAY 2014 - SEP 2015
        </collapsible-item-subtitle>
        <collapsible-item-header>
          Analysis, design and development of n-tier client/server applications.
          I developed an internal software for employees and project management
          and time traking system.
        </collapsible-item-header>
        <collapsible-item-content>
          <ul class="disc-list">
            <li>
              Development of windows applications, web applications, RESTfull
              WebAPI in Microsoft Visual Studio .NET using MVC pattern and
              Microsoft SQL Server.
            </li>
            <li>
              Experience in SQL Server Database design, Database maintenance,
              queries optimization reading and editing execution plan.
            </li>
            <li>
              Development of N-tier applications, code first or database first,
              with usage of AngularJs or .NET Razor in the prestentation layer.
            </li>
            <li>
              Unit testing and usage of many design patter, like repository
              pattern with Entity Framework, builder, factory and facade.
            </li>
            <li>
              Developed Cascading Style Sheets (CSS3) and Bootstrap 3.0
              Framework for User Interface uniformity throughout the
              application.
            </li>
            <li>
              AGILE Scrum metodologies and usage of kanban board for user
              stories tracking.
            </li>
            <li>
              Git and TFS version control systems.
            </li>
          </ul>
          <div class="external-logo">
            <img src="site/images/sysdata-logo.png" style="height: 2.5rem" />
          </div>
        </collapsible-item-content>
      </collapsible-item>
    </section-content>
  </section>
</div>
