<section>
    <section-title>
        Contact
    </section-title>
    <section-icon>
        <i class="fa fa-paper-plane-o"></i>
    </section-icon>
    <section-content>
        <item data-wow-delay="0.2s" data-animation="a2">
            <item-content>
                <div class="contact-form" id="contact">
                    <div class="row">
                        <form role="form" name="contactForm" data-toggle="validator" action="https://formspree.io/gianpie@yahoo.it"  method="POST">
                            <div class="input-field col s12">
                                <input id="name" name="name"  ng-model="name" type="text" class="validate"  minlength="3" required>
                                <label for="name" data-error="Too short">Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="email" name="email" ng-model="email" type="email" class="validate" required="">
                                <label for="email" data-error="wrong email">Email</label>
                            </div>
                            <div class="input-field col s12">
                                <textarea id="message" ng-model="message" minlength="20" maxlength="1000" name="message" class="form-control materialize-textarea validate" required=""></textarea>
                                <label for="message" data-error="Too short" class="h4">Message</label>
                            </div>
                            <input type="submit" id="form-submit" ng-disabled="contactForm.$invalid" class="btn btn-success" value="Send" />
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </item-content>
        </item>
    </section-content>
</section>

