<section>
    <section-title>About me</section-title>
    <section-icon><i class="fa fa-user-circle" aria-hidden="true"></i></section-icon>
    <section-content>
        <item>
            <item-content>
                <p>
                    Sono un ragazzo mediterraneo, cresciuto fra i monti del Parco delle Madonie nel cuore della Sicilia.
                    Ho vissuto in Sicilia fino alla Laurea conseguita all'Università di Palermo, ma per opportunità lavorative ho scelto di emigrare a Bologna subito dopo.
                    Durante gli studi ho dedicato parecchio tempo alla chitarra e questo mi ha portato a suonare con diverse band in giro per l'Italia.
                    La musica è la mia grande passione e amo viverla anche da spettatore, infatti vado a vedere i concerti delle mie band preferite dal vivo quando ne ho l'opportunità.
                    L'amore per lo sviluppo e la tecnologia è
                </p>
            </item-content>
        </item>
    </section-content>
</section>