<section>
    <section-title>About me</section-title>
    <section-icon><i class="fa fa-user-circle" aria-hidden="true"></i></section-icon>
    <section-content>
        <item>
            <item-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quam libero, scelerisque ac venenatis sed, luctus eu nisi. Nunc varius vulputate lectus id sagittis. Mauris est tortor, iaculis sit amet condimentum egestas, facilisis in lacus. Sed rhoncus arcu tortor, eget maximus metus vulputate et. Nullam porta est ac massa pretium, nec aliquam justo dapibus. Suspendisse vehicula consectetur tincidunt. Sed vel magna sed mi tempus ultrices ut quis diam. Morbi id ligula metus. Nunc sed suscipit arcu, et elementum risus. Aliquam auctor lacus eget ipsum vulputate, non auctor nisi pellentesque. Curabitur venenatis mollis dolor, non rhoncus orci bibendum tincidunt. Suspendisse metus ex, molestie eu lectus ac, volutpat malesuada massa. Aenean quis urna non nulla tincidunt aliquet nec ut nibh. Fusce purus leo, faucibus vel placerat nec, scelerisque a enim. Morbi quis velit in purus laoreet sodales. Phasellus vitae pharetra ex.
                </p>
            </item-content>
        </item>
    </section-content>
</section>