<section>
    <section-title>Social</section-title>
    <section-icon><i class="fa fa-users" aria-hidden="true"></i>
    </section-icon>
    <section-content>
        <item data-animation="a2" data-wow-delay="0.2s">
            <item-content>
                <div class="interests">
                    <ul class="center">
                        <li>
                            <a href="https://www.facebook.com/Gianpolo" target="_blank">
                                <i class="fa fa-facebook tooltipped" data-position="top" data-delay="50" data-tooltip="Facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/gianpieroferraro/" target="_blank">
                                <i class="fa fa-linkedin tooltipped" data-position="top" data-delay="f50" data-tooltip="Linkedin"></i>
                            </a>
                        </li>
                        <li> <a href="https://twitter.com/Giagianpy" target="_blank">
                            <i class="fa fa-twitter tooltipped" data-position="top" data-delay="f50" data-tooltip="Twitter"></i>
                        </a></li>
                    </ul>
                </div>
            </item-content>
        </item>

    </section-content>
</section>