<div class="section-wrapper z-depth-1" style="padding-bottom:0px !important;">
    <div class="section-icon col s12 m12 l2">
        <i class="fa fa-comments-o" aria-hidden="true"></i>
    </div>
    <div class="col s12 m12 l10 wow fadeIn a1 animated">
        <h2>Testimonials</h2>
    </div>
    <div class="custom-content no-margin">
        <carousel>
            <div class="carousel-item">
                <testimonial avatar-image="margherita" avatar-name="Margherita Lazzarini"
                             linkedin-url="https://www.linkedin.com/in/margherita-lazzarini-04380a60/">
                    <content>
                        Gianpiero is passionate and talented in his job, and he is very technically prepared. <br>He's
                        brilliant, very interested in new technologies and a great colleague to work with.
                    </content>
                    <footer>
                        <p>Senior Java Developer @Noemalife</p>
                        <p>margherita.lazzarini@gmail.com</p>
                    </footer>
                </testimonial>
            </div>
            <div class="carousel-item">
                <testimonial avatar-image="landini" avatar-name="Alex Landini"
                             linkedin-url="https://www.linkedin.com/in/alexlandini/">
                    <content>
                        I have been working with Gianpiero for two years, is a valuable and committed coworker.
                        He is a very skilled programmer, I had the chance to appreciate his frontend technologies
                        skills.
                        Programming it not only a job for Gianpiero, but it's a real passion, he spend a lot of his free
                        time learning technologies and improving his programming skills.
                    </content>
                    <footer>
                        <p>Senior Java Developer @Noemalife</p>
                        <p>alex.landini@gmail.com</p>
                    </footer>
                </testimonial>
            </div>
            <div class="carousel-item">
                <testimonial avatar-image="pasquale" avatar-name="Pasquale Cautela"
                             linkedin-url="https://www.linkedin.com/in/pasquale-cautela-10103834/">
                    <content>
                        Highly competent worker. Great inclination to new technologies. Gianpiero is very professional
                        and serious in all his tasks. A plus man for the company.
                    </content>
                    <footer>
                        <p>Analyst and Software Developer @Noemalife</p>
                        <p>pasquale.cautela@gmail.com</p>
                    </footer>
                </testimonial>
            </div>
            <div class="carousel-item">
                <testimonial avatar-image="carlo" avatar-name="Carlo Montanari"
                             linkedin-url="https://www.linkedin.com/in/carlomontanari/">
                    <content>
                        Gianpiero is a high motivated worker, who does his job with passion and competence. He has an
                        excellent creativity and a genuine interest in learning new techniques, that he applied
                        successfully in the project we worked together. Careful and detail oriented, he can give an
                        important contribution to every team.
                    </content>
                    <footer>
                        <p>Software Developer @CRIF</p>
                        <p>carlo.montanari@gmail.com</p>
                    </footer>
                </testimonial>
            </div>
            <div class="carousel-item">
                <testimonial avatar-image="vella" avatar-name="Filippo Vella"
                             linkedin-url="https://www.linkedin.com/in/filippovella/">
                    <content>
                        I had Gianpiero as a student for the course of Advanced Programming (Programmazione II) for the
                        degree in Computer Engineering at the University of Palermo. In the course he did very well and
                        had a very good mark.
                        I also guided him for his final course thesis about retrieval of video contents. He demonstrated
                        to have analytical capability and strong interest in these disciplines. The thesis he made was a
                        complete analysis of retrieval techniques with the addition of personal critical considerations.
                    </content>
                    <footer>
                        <p>Researcher @ICAR</p>
                        <p>filippo.vella@gmail.com</p>
                    </footer>
                </testimonial>
            </div>
        </carousel>
    </div>
</div>

