
<nav ng-controller="NavCtrl">
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile" class="button-collapse" side-nav><i class="fa fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
            <li  ng-class="{'active': isActive('/resume')}"><a href="/home">Resume</a></li>
            <li  ng-class="{'active': isActive('/about')}"><a href="/about">About me</a></li>
            <li  ng-class="{'active': isActive('/hire-me')}"><a href="/hire-me">Contact</a></li>
            <li  ng-class="{'active': isActive('/blog')}"><a href="/blog">Blog</a></li>
        </ul>
        <ul class="side-nav" id="mobile">
            <li><a href="/resume">Resume</a></li>
            <li><a href="/about">About me</a></li>
            <li><a href="/hire-me">Contact</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </div>
</nav>