<aside class="col s12 m12 l4 sidebar z-depth-1" id="sidebar">
    <div class="row">
        <div class="heading">
            <div class="feature-image">
                <img src="images/me.jpg" class="responsive-img">
            </div>
            <div class="title col s12 m12 l9 right wow fadeIn animated">
                <h2>Gianpiero Ferraro</h2>
                <span>FULL STACK WEB DEVELOPER</span>
            </div>
        </div>
        <div class="col l12 m12 s12 sort-info sidebar-item">
            <div class="row">
                <div class="col m12 s12 l3 icon"> <!-- icon -->
                    <i class="fa fa-user"></i>
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;"> <!-- text -->
                    <div class="section-item-details">
                        <p>I’m a creative problem solver, a quick mind able to think outside the box. I worked as
                            software developer for different Italian companies. I can write clean, testable and SOLID codes without losing productivity performance. I’m a really collaborative person and I like to work in team with other professionals.
                            I ‘m a blues man, Inter F.C. fan , and I love science and graphic design.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l12 m12 s12 mobile sidebar-item">
            <div class="row">
                <div class="col m12 s12 l3 icon">
                    <i class="fa fa-phone"></i> <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                    <div class="section-item-details">
                        <div class="personal">
                            <h4><a href="tel:555-555-5555">+ 39 389 27 00 706</a></h4> <!-- Number -->
                            <span>mobile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l12 m12 s12 email sidebar-item ">
            <div class="row">
                <div class="col m12 s12 l3 icon">
                    <i class="fa fa-envelope"></i> <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a3 animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                    <div class="section-item-details">
                        <div class="personal">
                            <h4><a href="mailto:someone@example.com">gianpieroferraro86@gmail.com</a></h4> <!-- Email -->
                            <span>work</span>
                        </div>
                        <div class="work">
                            <h4><a href="mailto:someone@example.com">gianpie@yahoo.it</a></h4> <!-- Email -->
                            <span>personal</span> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l12 m12 s12  address sidebar-item ">
            <div class="row">
                <div class="col l3 m12  s12 icon">
                    <i class="fa fa-home"></i> <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                    <div class="section-item-details">
                        <div class="address-details"> <!-- address  -->
                            <h4>Via Ranuzzi<br>
                                40131 Bologna, Italy.<br>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l12 m12 s12  skills sidebar-item">
            <div class="row">
                <div class="col m12 l3 s12 icon">
                    <i class="fa fa-calendar-o"></i> <!-- icon -->
                </div>
                <!-- Skills -->
                <div class="col m12 l9 s12 skill-line a5 wow fadeIn" data-wow-delay="0.5s" style="visibility: hidden; animation-delay: 0.5s; animation-name: none;">
                    <h3>Technologies and tools</h3>

                    <span>JavaScript</span>
                    <div class="progress">
                        <div class="determinate" style="width: 90%;"><i class="fa fa-circle"></i></div>
                    </div>

                    <span>C#</span>
                    <div class="progress">
                        <div class="determinate" style="width: 80%;"><i class="fa fa-circle"></i></div>
                    </div>

                    <span>Unit testing</span>
                    <div class="progress">
                        <div class="determinate" style="width: 70%;"><i class="fa fa-circle"></i></div>
                    </div>

                    <span>SQL</span>
                    <div class="progress">
                        <div class="determinate" style="width: 65%;"><i class="fa fa-circle"></i></div>
                    </div>

                    <span>Solid Code</span>
                    <div class="progress">
                        <div class="determinate" style="width: 75%;"><i class="fa fa-circle"></i></div>
                    </div>

                    <span>.Net MVC</span>
                    <div class="progress">
                        <div class="determinate" style="width: 80%;"><i class="fa fa-circle"></i></div>
                    </div>

                    <span>AngularJs</span>
                    <div class="progress">
                        <div class="determinate" style="width: 90%;"><i class="fa fa-circle"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>